.MuiCardContent-root {margin: 24px;}
body {
    background: #fff !important;
  }

  .MuiAvatar-colorDefault {
    margin: 30px auto 0 !important;
    color: #fff;
    background-color: #dc004e !important;
}